# Random Forest Classification - Credit Score

## EDA

In [356]:
# load libraries
import pandas as pd
import numpy as np

In [357]:
# read file using read_csv function

df = pd.read_csv('./dataset/credit-score.csv')
df.head()

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance
0,0x160a,CUS_0xd40,September,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,2022.0,Good,809.98,35.030402,22 Years and 9 Months,No,49.574949,236.64268203272135,Low_spent_Small_value_payments,186.26670208571772
1,0x160b,CUS_0xd40,October,Aaron Maashoh,24,821-00-0265,Scientist,19114.12,1824.843333,3,...,4.0,Good,809.98,33.053114,22 Years and 10 Months,No,49.574949,21.465380264657146,High_spent_Medium_value_payments,361.44400385378196
2,0x160c,CUS_0xd40,November,Aaron Maashoh,24,821-00-0265,Scientist,19114.12,1824.843333,3,...,4.0,Good,809.98,33.811894,NaN,No,49.574949,148.23393788500925,Low_spent_Medium_value_payments,264.67544623342997
3,0x160d,CUS_0xd40,December,Aaron Maashoh,24_,821-00-0265,Scientist,19114.12,NaN,3,...,4.0,Good,809.98,32.430559,23 Years and 0 Months,No,49.574949,39.08251089460281,High_spent_Medium_value_payments,343.82687322383634
4,0x1616,CUS_0x21b1,September,Rick Rothackerj,28,004-07-5839,_______,34847.84,3037.986667,2,...,5.0,Good,605.03,25.926822,27 Years and 3 Months,No,18.816215,39.684018417945296,High_spent_Large_value_payments,485.2984336755923

In [358]:
# dropping columns which I feel are not reqquired for the classification
df.drop(['ID', 'Customer_ID', 'Month', 'Name', 'SSN', 'Occupation', 'Interest_Rate', 'Type_of_Loan', 'Amount_invested_monthly', 'Num_Bank_Accounts'], axis=1, inplace=True)
df.head()

,Age,Annual_Income,Monthly_Inhand_Salary,Num_Credit_Card,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Payment_Behaviour,Monthly_Balance
0,23,19114.12,1824.843333,4,4,3,7,11.27,2022.0,Good,809.98,35.030402,22 Years and 9 Months,No,49.574949,Low_spent_Small_value_payments,186.26670208571772
1,24,19114.12,1824.843333,4,4,3,9,13.27,4.0,Good,809.98,33.053114,22 Years and 10 Months,No,49.574949,High_spent_Medium_value_payments,361.44400385378196
2,24,19114.12,1824.843333,4,4,-1,4,12.27,4.0,Good,809.98,33.811894,NaN,No,49.574949,Low_spent_Medium_value_payments,264.67544623342997
3,24_,19114.12,NaN,4,4,4,5,11.27,4.0,Good,809.98,32.430559,23 Years and 0 Months,No,49.574949,High_spent_Medium_value_payments,343.82687322383634
4,28,34847.84,3037.986667,4,1,3,1,5.42,5.0,Good,605.03,25.926822,27 Years and 3 Months,No,18.816215,High_spent_Large_value_payments,485.2984336755923

In [359]:
# summary of the data: column names, total no.of non-null values, data types, memory usage
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       50000 non-null  object
 1   Annual_Income             50000 non-null  object
 2   Monthly_Inhand_Salary     42502 non-null  float64
 3   Num_Credit_Card           50000 non-null  int64
 4   Num_of_Loan               50000 non-null  object
 5   Delay_from_due_date       50000 non-null  int64
 6   Num_of_Delayed_Payment    46502 non-null  object
 7   Changed_Credit_Limit      50000 non-null  object
 8   Num_Credit_Inquiries      48965 non-null  float64
 9   Credit_Mix                50000 non-null  object
 10  Outstanding_Debt          50000 non-null  object
 11  Credit_Utilization_Ratio  50000 non-null  float64
 12  Credit_History_Age        45530 non-null  object
 13  Payment_of_Min_Amount     50000 non-null  object
 14  Total_EMI_per_month       50000 non-null  float64
 15  Payment_Behaviour         50000 non-null  object
 16  Monthly_Balance           49438 non-null  object
dtypes: float64(4), int64(2), object(11)
memory usage: 6.5+ MB

In [360]:
# Age is of OBJECT type. So here we will try to get the various values in column Age and try to convert it to tyep INT them
df['Age'].unique()

array(['23', '24', '24_', '28', '35', '55', '22', '31', '32', '1694',
       '34', '30', '914', '45', '41_', '41', '33', '36', '39', '40',
       '40_', '37', '21', '46', '26', '27', '32_', '42', '42_', '20',
       '48', '49', '33_', '38', '38_', '44', '-500', '16', '17', '37_',
       '19_', '19', '3193', '43', '339', '14', '15', '25', '21_', '1203',
       '46_', '2823', '22_', '18', '47', '1643', '20_', '35_', '8327_',
       '29', '29_', '28_', '53', '56', '26_', '6586', '7014', '3391',
       '54', '3765', '43_', '18_', '47_', '4472', '50', '4022', '48_',
       '4576', '51', '52', '34_', '50_', '3355', '8034', '4610_', '27_',
       '31_', '7860', '36_', '2526', '45_', '3263', '4885', '51_', '39_',
       '25_', '694', '8288', '52_', '8404', '451', '3168', '5172', '8214',
       '4946', '3127', '55_', '7018', '2950', '7676', '5502', '4133',
       '2083', '3752', '23_', '2970', '7721', '4806', '30_', '5426',
       '4787', '44_', '4390', '3218', '6000', '538', '7319', '17_',
       '5530', '6838', '2069', '8337', '2532', '1587', '7749', '56_',
       '5255', '5532', '7045', '1950', '5333', '53_', '16_', '2077_',
       '1844', '2954', '4329', '1919', '8449', '7237', '5061', '2695',
       '3287', '7507', '4556', '15_', '5092', '6978', '8497', '3712',
       '693', '3922', '6097', '3527', '7836', '5165', '7849', '49_',
       '327', '6317', '3930', '2193', '7222', '505', '7261', '6205',
       '942', '7260', '2002', '3984', '6678', '4763', '4954', '5720',
       '6965', '3482', '6099', '5029', '1804', '7470', '676', '5733',
       '7005', '1631', '4204', '835', '2585', '492', '1193', '3759',
       '2485', '4305', '2902', '2082', '6798', '5488', '5546', '8001',
       '8641', '6439', '8481', '6558', '6866', '2049', '3981', '6659',
       '171', '7461', '5410', '2383', '4873', '2231', '4741', '5205',
       '6248', '95', '6966', '3485', '536', '5760', '5104', '3876', '14_',
       '5621', '2104', '5549', '2404', '54_', '4943_', '225', '3600',
       '2750', '601', '1566', '2969', '5018', '3993', '6744', '4385',
       '4949', '3731', '3528', '6296', '1705', '8427', '5203', '5609',
       '7340', '7978', '4520', '3277', '7084', '6924', '4446', '6546',
       '4687', '6473', '8439', '6401', '1167', '2087', '7437', '2739',
       '3576', '3207', '7964', '4265', '6409', '1417', '6841', '7052',
       '452', '1330', '6437', '619_', '1956', '133', '4851', '830',
       '2511_', '7904', '1342', '3452', '5619', '3030', '2582', '6080',
       '7563', '7424', '3842', '2870', '6290', '1659', '6647_', '7389',
       '1046', '1793', '3797', '2815', '4066', '6394', '3211', '3822',
       '8450', '927', '4435', '6282', '3516', '1750', '6718', '7449',
       '2905', '6760', '1913', '8639', '458', '2569', '1660', '2257',
       '3369', '1882', '8198', '2443', '3072', '2563', '5264', '2812',
       '5548', '8086', '6076', '6792', '5026_', '4202', '3412', '1147',
       '3868', '3553', '453', '8629', '7702', '5863', '8502', '2320',
       '6807', '8536', '2341', '4451', '6535', '2811', '1542', '8245_',
       '782', '7104', '4654', '6804', '5456', '2848', '415', '7184',
       '7754', '3007', '7774', '5316', '7409', '2336_', '8263', '3062',
       '2587', '2926_', '3044', '1472', '8200_', '4114', '5113', '7021',
       '8213', '3577', '6125', '7408', '1916_', '368', '7533', '2831',
       '8500', '4304', '6868', '6695', '281', '5994', '5254', '3744',
       '7832', '4934', '2059', '437', '1419', '120', '2552', '2698',
       '410', '4955', '4399', '7043', '5227', '4968', '3837', '727',
       '1900', '5296', '7590', '3020', '7190', '1986', '1672', '5700',
       '1473', '6447', '527', '3883', '8019', '8631_', '6400_', '4079',
       '1530', '8590', '2216', '5084', '7234', '5145', '8118', '6445',
       '2413', '3803', '182', '863', '2367', '4179', '1141', '2436',
       '6137', '1187', '4938_', '7554', '6126', '3423', '8464', '4521',
       '5148', '5036', '8432', '4287', '6470_', '4807', '2544', '7707',
       '3601', '1186', '7106', '6225', '1776_', '7550', '3271', '2042',
       '4443', '141', '7825', '1258', '615', '2856', '5935', '8342',
       '2322', '5552', '2929', '948', '3342', '2299', '6754', '2461',
       '2389_', '7028', '895', '5469', '744', '6693', '644', '7946',
       '914_', '7148', '6174', '5576', '7753', '3046', '6286', '1195',
       '1104', '5885', '4993', '8625', '8332', '3216', '6175', '8600',
       '8524', '5559', '7667', '829', '551', '6453_', '6385', '985',
       '4473', '1855', '7282', '5759', '3286', '3974', '1882_', '2785',
       '4142', '5987', '6900', '5592', '8311', '2816', '3212', '2607',
       '6392', '3118', '7044_', '2836', '516', '1583', '5129', '1379',
       '232', '4554', '5012', '4242', '1261', '7685', '8083', '7961',
       '4223', '5238', '3376', '2319', '4694', '6153', '2711', '501',
       '925', '842', '1238', '3108', '7183', '6986', '2053', '1153',
       '6026', '2787', '730', '7391', '7909', '1977', '6967', '5309',
       '6141', '7542', '1845', '3904', '2362', '1018_', '455', '3877',
       '2036', '2117', '5447', '8188', '5236', '6150', '188', '3487',
       '331', '3891', '5850', '2789', '8304', '4891', '6001', '2096',
       '1833', '7435', '7878', '2458', '8589', '1662', '6957', '941',
       '6653', '1081', '7495', '6272', '8232', '3817', '7171', '1263',
       '8254', '1734', '1124', '8647', '4187', '1222', '751', '1144',
       '5596', '6848', '7981', '4575', '5744', '7431', '5890', '2583',
       '5784', '3085', '5078', '4426', '3122', '7144', '1841_', '3357',
       '8487', '7625', '4682', '8557', '4184', '7700', '679', '2286',
       '3136', '3052', '3433', '498', '2211', '6424', '136', '8054',
       '2507', '4768', '7058', '7503', '4817', '6197', '681', '4525',
       '3903', '2038', '2210', '5650', '1485', '5714_', '5854', '1034',
       '2022', '8395', '3089', '6384', '5159', '4927', '1667', '7525',
       '6515', '8688', '2604', '6809', '4549', '3295', '8217', '5111',
       '1765', '8068', '8140', '3942', '5034', '1857', '2928', '6411',
       '4698_', '755', '7468', '6213', '1118', '7168', '358', '1218',
       '4543', '996', '8302', '5731', '868', '1746', '2850', '165',
       '5133', '2599', '8305', '771', '7780', '474', '3001', '997',
       '3908', '447', '4344', '7355', '2701', '5551', '1614', '2472',
       '975', '4603', '557', '1210_', '8049', '6037', '8055', '1676',
       '8632', '8065', '6354', '321', '4986', '4936', '4636', '1782',
       '287', '8419', '7333', '775', '3582', '6222', '6421', '6612',
       '6647', '3823', '2411', '4920', '270', '5883', '8071', '8271',
       '1988', '402', '3474', '7926', '1952', '6873', '3076', '2663',
       '1197', '6243', '6475', '6937', '2403', '2819', '413', '3080',
       '1315', '6654', '4321', '4340', '1058', '6621', '8326', '2359',
       '2310', '7864', '3191', '1955', '4033', '8334', '3382', '7876',
       '5856', '3513_', '1220', '3915', '6667', '7334', '1415', '1445',
       '128_', '7196', '7228', '425', '5679', '6278', '274', '5471',
       '866', '8256', '5220', '5607', '2116', '3737', '2974_', '6083',
       '517', '6484', '3936', '5710', '7527', '1465', '4929', '4498',
       '2572', '743', '7559', '2894', '319', '3362', '3252', '285',
       '1336', '3468', '3371', '5288', '5612', '3084', '993', '6903',
       '3592', '2693', '5044', '243', '7114', '4595', '5892', '167',
       '580', '5282', '3919', '2057', '7929', '7288', '4591', '2735',
       '155', '5780', '4561', '989', '3360', '7229', '930', '7406_',
       '299_', '7958', '4790', '8596', '3291', '144', '6031_', '2678',
       '3093', '4781', '3858', '4531', '6732', '2753', '7351', '1949',
       '909_', '3339', '6715', '2616', '1764', '8300', '2314', '4453',
       '3056', '6391', '4013', '1395', '8426', '4888', '6330', '3706',
       '6621_', '4718', '2797', '7120', '5667', '542', '7300', '3573',
       '3474_', '4722', '1007', '7342', '831_', '1953', '5501', '2934',
       '4373', '1499', '595', '1522', '5797', '6176', '7265', '5428',
       '4697', '6094', '2166', '7314', '4024', '7520', '6133', '3324',
       '6856', '6633', '3545', '7116', '6999', '1305', '6349', '5009',
       '3508', '4216', '2849', '4896', '6188', '217_', '707', '2298',
       '7239', '3814', '3728', '2779', '5213', '6884', '7810', '5269',
       '1544', '4899', '7850', '7421', '8340_', '3524', '470', '5038',
       '6262', '7868_', '3155', '1365', '6652', '2200', '1401_', '8361',
       '459', '3054', '5586', '326', '7910', '5826', '4975'], dtype=object)

In [361]:
# function to remove '_' and convert the value to positive if it is negative
def format_Age(value):
    value = int(str(value).replace('_', ''))
    
    if value < 0:
        value = -1 * value
        
    return value

df['Age'] = df['Age'].apply(format_Age)

In [362]:
# get all the valid ages and calculate the mean of these ages. 
valid_ages = [age for age in df['Age'] if age < 100]
valid_age_mean = int(np.mean(valid_ages))
valid_age_mean

33

In [363]:
# function to replace the Age value where age is greater than 100 with the MEAN calculated in previous step

def function_valid_Age(value, mean):
    if value > 100:
        value = mean

    return int(value)

df['Age'] = df['Age'].apply(lambda x: function_valid_Age( x, valid_age_mean ))

In [364]:
df['Age'].unique()

array([23, 24, 28, 35, 55, 22, 31, 32, 33, 34, 30, 45, 41, 36, 39, 40, 37,
       21, 46, 26, 27, 42, 20, 48, 49, 38, 44, 16, 17, 19, 43, 14, 15, 25,
       18, 47, 29, 53, 56, 54, 50, 51, 52, 95], dtype=int64)

In [365]:
df['Annual_Income'].sample(10)

1359      69933.98
1725       81557.0
44048     20497.26
45213     94120.35
39684     9958.505
16622    14544.485
42658    75010.52_
46421     32382.97
20035    120389.55
44989     51796.84
Name: Annual_Income, dtype: object

In [366]:
# function to remove '_' 
def remove_Underscore(value):
    value = str(value).replace('_', '')

    if value != '':
        return float(value)
    else:
        return float(0.00)

df['Annual_Income'] = df['Annual_Income'].apply(remove_Underscore)

In [367]:
df['Annual_Income'].describe()

count    5.000000e+04
mean     1.663342e+05
std      1.351965e+06
min      7.005930e+03
25%      1.945333e+04
50%      3.757782e+04
75%      7.281702e+04
max      2.413726e+07
Name: Annual_Income, dtype: float64

In [368]:
df['Num_of_Loan'].unique()

array(['4', '1', '3', '1381', '-100', '0', '2', '7', '5', '6', '5_', '8',
       '1_', '2_', '6_', '4_', '9', '0_', '7_', '965', '3_', '428', '50',
       '8_', '256', '495', '9_', '1018', '548', '1470', '1176', '1021',
       '744', '238', '481_', '617', '1237', '602', '582', '1225', '717',
       '1316', '1146', '455', '1009', '660', '286', '505', '335', '1161',
       '765', '463', '864', '696', '95', '949', '720', '181', '1090',
       '1048', '42', '385', '814', '1019', '452', '434', '77', '639',
       '336', '249', '106', '498', '1073', '1259', '899', '769', '1292',
       '1266', '1365', '114', '810', '994', '992', '828', '1248', '543',
       '1318', '1416', '919', '1391', '58', '799', '1374', '263', '746',
       '1487', '731', '445', '1325', '1147', '808', '511', '198', '1445',
       '1140', '876', '1304', '569', '350', '1221', '608', '621', '1040',
       '1496', '570', '1063', '741', '230', '1428', '1254', '1361', '232',
       '1475', '653', '1448', '523', '1414', '426', '1308', '647', '1068',
       '954_', '1283', '909', '977', '1333', '700', '486', '1027', '170',
       '359', '1108', '1471', '628', '1284', '1489', '1446', '35', '483',
       '265', '928', '838', '1109', '1429', '1300', '547', '1385', '950',
       '1153', '539', '1240', '376', '393', '610', '725_', '1481', '1287',
       '325', '72_', '1024', '1072', '220', '478', '53', '368', '551',
       '1231', '1244', '734_', '140', '1329', '255', '1207', '257', '326',
       '273', '1187', '99', '1149', '1148', '464', '961', '519_', '142',
       '453', '641', '97', '441', '1114', '631', '295', '1444', '465',
       '960', '790', '624', '55', '370', '659', '361', '105', '1189',
       '813', '1095', '508', '879', '1373', '615', '997', '561', '161',
       '612', '488', '282', '324', '531', '339', '1057', '757', '343',
       '1196', '1041', '738', '1399', '414', '395', '1175', '663', '135',
       '910', '1447', '620', '354', '1263', '477', '544', '1134', '770',
       '204', '1369', '656', '534', '870', '418', '1292_', '1436', '1352',
       '594', '25', '1442', '939', '172', '1296_'], dtype=object)

In [369]:
# function to remove '_' 
def format_values(value):
    if pd.notna(value):
        value = int(str(value).replace('_', ''))
        
    return value

df['Num_of_Loan'] = df['Num_of_Loan'].apply(format_values)

In [370]:
df['Num_of_Loan'].unique()

array([   4,    1,    3, 1381, -100,    0,    2,    7,    5,    6,    8,
          9,  965,  428,   50,  256,  495, 1018,  548, 1470, 1176, 1021,
        744,  238,  481,  617, 1237,  602,  582, 1225,  717, 1316, 1146,
        455, 1009,  660,  286,  505,  335, 1161,  765,  463,  864,  696,
         95,  949,  720,  181, 1090, 1048,   42,  385,  814, 1019,  452,
        434,   77,  639,  336,  249,  106,  498, 1073, 1259,  899,  769,
       1292, 1266, 1365,  114,  810,  994,  992,  828, 1248,  543, 1318,
       1416,  919, 1391,   58,  799, 1374,  263,  746, 1487,  731,  445,
       1325, 1147,  808,  511,  198, 1445, 1140,  876, 1304,  569,  350,
       1221,  608,  621, 1040, 1496,  570, 1063,  741,  230, 1428, 1254,
       1361,  232, 1475,  653, 1448,  523, 1414,  426, 1308,  647, 1068,
        954, 1283,  909,  977, 1333,  700,  486, 1027,  170,  359, 1108,
       1471,  628, 1284, 1489, 1446,   35,  483,  265,  928,  838, 1109,
       1429, 1300,  547, 1385,  950, 1153,  539, 1240,  376,  393,  610,
        725, 1481, 1287,  325,   72, 1024, 1072,  220,  478,   53,  368,
        551, 1231, 1244,  734,  140, 1329,  255, 1207,  257,  326,  273,
       1187,   99, 1149, 1148,  464,  961,  519,  142,  453,  641,   97,
        441, 1114,  631,  295, 1444,  465,  960,  790,  624,   55,  370,
        659,  361,  105, 1189,  813, 1095,  508,  879, 1373,  615,  997,
        561,  161,  612,  488,  282,  324,  531,  339, 1057,  757,  343,
       1196, 1041,  738, 1399,  414,  395, 1175,  663,  135,  910, 1447,
        620,  354, 1263,  477,  544, 1134,  770,  204, 1369,  656,  534,
        870,  418, 1436, 1352,  594,   25, 1442,  939,  172, 1296],
      dtype=int64)

In [371]:
# function to remove negative values and if the Number_of_Loan is greater than 10 replace it with MEAN value
def validate_Num_of_Loan(value, mean):
    if pd.notna(value):
        if value < 0:
            value = 0
    
        if value > 10:
            value = mean

        return int(value)
    else:
        return mean

df['Num_of_Loan'] = df['Num_of_Loan'].apply( lambda x:validate_Num_of_Loan( x, int(df['Num_of_Loan'].mean()) ) )

In [372]:
df['Num_of_Loan'].unique()

array([4, 1, 3, 0, 2, 7, 5, 6, 8, 9], dtype=int64)

In [424]:
df['Delay_from_due_date'].unique()

array([ 3, -1,  4,  8,  6,  5,  9,  0, 30, 29, 11,  2,  1, 16, 10, 24, 23,
       12, 18, 17, 51, 34, 32, 45, 48, 25, 49, 43, 50, 22, 55, 52, 61, 59,
       60, 31, 27, 15, 53, 14, 13,  7, 44, 54, 20, 28, 57, 62, 56, 41, 37,
       19, 64, 36, 42, 21, 26, -2, 33, 46, 38, 35, 40, 47, 39, 66, 58, -4,
       -3, 63, 65, -5, 67], dtype=int64)

In [427]:
df['Delay_from_due_date'] = df['Delay_from_due_date'].apply(lambda x: -x if x < 0 else x)

In [428]:
df['Delay_from_due_date'].unique()

array([ 3,  1,  4,  8,  6,  5,  9,  0, 30, 29, 11,  2, 16, 10, 24, 23, 12,
       18, 17, 51, 34, 32, 45, 48, 25, 49, 43, 50, 22, 55, 52, 61, 59, 60,
       31, 27, 15, 53, 14, 13,  7, 44, 54, 20, 28, 57, 62, 56, 41, 37, 19,
       64, 36, 42, 21, 26, 33, 46, 38, 35, 40, 47, 39, 66, 58, 63, 65, 67],
      dtype=int64)

In [373]:
df['Num_of_Delayed_Payment'].unique()

array(['7', '9', '4', '5', '1', '3', nan, '2_', '1942', '6', '8', '15',
       '18', '0', '14', '17', '12', '11', '2', '19', '20_', '20', '10',
       '13', '1150', '22', '23', '21', '6_', '2077', '16', '11_', '15_',
       '24', '27', '10_', '9_', '25_', '17_', '210', '1_', '-1', '0_',
       '-2', '8_', '1314', '429', '12_', '16_', '759', '2806', '19_',
       '18_', '25', '2849', '2465', '4246', '1186', '75', '24_', '26',
       '7_', '1134', '28_', '1230', '4318', '4219', '-1_', '14_', '13_',
       '28', '1216', '1491', '1591', '3552', '3667', '-3', '420', '2606',
       '186', '21_', '5_', '959', '22_', '1122', '3178', '1884', '1551',
       '3472', '3398', '3_', '-2_', '1486', '4128', '351', '4086', '861',
       '23_', '586', '873', '3948', '2801', '4_', '2503_', '3627', '3825',
       '3954', '376', '2354', '4343', '2279', '391', '1334', '1958',
       '2608', '456', '1274', '452', '227_', '845', '26_', '3097', '2730',
       '2161', '377', '762', '1131', '2649', '4161', '1544', '4136',
       '1377', '2412', '3508_', '3429', '975_', '211', '518', '657',
       '3477', '370', '1234', '1534', '1080', '3057', '1065', '2819',
       '2583', '2497', '-3_', '3479', '1329', '3689', '2273', '3083',
       '2403', '1266', '3684', '4106', '697', '3243', '1802', '1880',
       '181', '3591', '2912', '1356', '1117', '2672', '2001', '4298',
       '590', '1095', '1562', '100', '1355', '1235', '3177', '2276',
       '4335', '2822', '1035', '832', '3529', '2942', '2802', '4351',
       '549', '3393', '3556', '288', '1146', '975', '2424', '345', '2269',
       '265', '179', '1513', '4118', '3071', '2817_', '175', '700',
       '2836', '434', '2903', '2347', '1891', '2999', '687', '2344_',
       '1437', '483', '4374', '3898', '4122', '2568', '4278', '918',
       '1963', '1633', '2431', '538', '864', '1570', '1511', '1297',
       '1881', '414', '4399', '2352', '4044', '773', '1632', '427',
       '2492', '961', '3652', '952', '4091_', '1571', '3863', '3853',
       '1809', '2047', '1832', '3425', '2803', '1069', '750', '1959',
       '1990', '1422', '3708', '1166', '3565_', '2032', '4011', '2595',
       '2873', '226', '482', '599', '2286', '3379', '2018', '992', '3589',
       '292', '2767', '617', '1246', '2413', '2259', '1085', '2653',
       '652', '3744', '1223', '3229', '3520', '1014', '707', '2392',
       '1750', '775', '817', '2148_', '297', '806', '3161', '3945',
       '1630', '130', '2902', '1904', '524', '1921', '4088', '2885',
       '2172', '1149', '1542', '1312', '2055_', '1309', '3803', '2464',
       '3064', '1761', '878', '4133', '3392_', '2026', '1718', '358',
       '2368', '2570', '3032', '828', '4206', '1344', '1885', '3862',
       '238', '841', '1385', '3807', '1169', '1682', '1703', '909',
       '1332', '1861', '2287', '688', '2348', '1410', '1698', '2527',
       '2401', '4131', '1664', '1907', '2388', '4214', '4026', '726',
       '3000', '3099', '2748', '820', '2704', '2538', '929', '3535',
       '1055', '1265', '1968', '3630', '1290', '1833', '2123', '1888',
       '1287', '502', '459', '1401', '3812', '1059', '2170', '69', '3192',
       '2407', '3642', '4270', '2358', '3608', '1289', '2953', '3734',
       '3757', '2052', '4141', '883', '1751', '1368', '3794', '2410',
       '1514', '3058', '3633', '4160', '60', '889', '2208', '2171',
       '4265', '989', '3971', '3917', '1097', '3920', '1634', '2128',
       '481_', '97_', '1172', '3390', '548', '947', '488', '225', '2346',
       '204', '3273', '4313', '1889', '3622', '3124', '3843_', '1779',
       '1619', '3406', '3246', '3666', '3391', '1616', '2601', '528',
       '3594', '272', '3313', '3637', '174', '3240', '1805', '2450',
       '1970', '3913', '533', '332', '2034'], dtype=object)

In [374]:
# removing '_'
df['Num_of_Delayed_Payment'] = df['Num_of_Delayed_Payment'].apply(format_values)

In [375]:
int(df['Num_of_Delayed_Payment'].mean())

30

In [376]:
def validate_Num_of_Delayed_Payment(value, mean):
    if pd.notna(value):
        if value < 0:
            value = 0
    
        if value > mean:
            value = mean

        return int(value)
    else:
        return mean
        
df['Num_of_Delayed_Payment'] = df['Num_of_Delayed_Payment'].apply( lambda x:validate_Num_of_Delayed_Payment( x, int(df['Num_of_Delayed_Payment'].mean()) ) )

In [377]:
df['Num_of_Delayed_Payment'].unique()

array([ 7,  9,  4,  5,  1,  3, 30,  2,  6,  8, 15, 18,  0, 14, 17, 12, 11,
       19, 20, 10, 13, 22, 23, 21, 16, 24, 27, 25, 26, 28], dtype=int64)

In [378]:
df['Changed_Credit_Limit'].sample(20)

44940        _
13072     8.54
30277    18.27
11891     11.6
16413    20.96
32760      7.8
13861     9.66
26261    11.84
29466      8.3
30500     7.85
30539     5.36
14344     8.51
25951    16.07
34323     8.46
41395    -5.42
38610      4.1
23953     1.59
25350     8.59
45681    10.93
32871     9.12
Name: Changed_Credit_Limit, dtype: object

In [379]:
# removing '_' and updating the data type to FLOAT
df['Changed_Credit_Limit'] = df['Changed_Credit_Limit'].apply(remove_Underscore)

In [380]:
df['Changed_Credit_Limit'].describe()

count    50000.000000
mean        10.155105
std          6.872745
min         -6.450000
25%          4.980000
50%          9.250000
75%         14.600000
max         36.650000
Name: Changed_Credit_Limit, dtype: float64

In [381]:
# converting negative values to positive
df['Changed_Credit_Limit'] = df['Changed_Credit_Limit'].apply(lambda x: -x if x < 0 else x)

In [382]:
df['Changed_Credit_Limit'].describe()

count    50000.000000
mean        10.236551
std          6.750835
min          0.000000
25%          5.000000
50%          9.250000
75%         14.600000
max         36.650000
Name: Changed_Credit_Limit, dtype: float64

In [383]:
df['Outstanding_Debt'].sample(20)

14651     2669.09
46340      116.17
2402      1943.08
678       1409.58
22407    1197.23_
27632     1244.42
37353      387.63
5368       874.85
49840      732.11
49826      332.75
321         730.9
1181       642.65
2220       614.83
18758      843.12
32630      561.42
40103     1310.56
15042     2625.73
28973      2308.2
40444     1051.33
26716      432.45
Name: Outstanding_Debt, dtype: object

In [384]:
df['Outstanding_Debt'] = df['Outstanding_Debt'].apply(remove_Underscore)

In [385]:
df['Outstanding_Debt'].describe()

count    50000.000000
mean      1426.220376
std       1155.134801
min          0.230000
25%        566.072500
50%       1166.155000
75%       1945.962500
max       4998.070000
Name: Outstanding_Debt, dtype: float64

In [386]:
# converting Years and Months to eqvivalent number of days

import re
def convert_years_months_to_days(input_string):

    if not isinstance(input_string, str):
        return int(0)
        
    # Extract years and months using regular expressions
    match = re.match(r'(\d+) Years and (\d+) Months', input_string)
    
    if match:
        # Extract years and months from the match object
        years = int(match.group(1))
        months = int(match.group(2))

        # Assume an average of 30.44 days per month and 365.25 days per year
        days_in_years = years * 365.25
        days_in_months = months * 30.44

        total_days = int(days_in_years + days_in_months)
        return total_days
    else:
        # Return an appropriate value if the input format is not as expected
        return int(0)

df['Credit_History_Age'] = df['Credit_History_Age'].apply(convert_years_months_to_days)

In [387]:
df['Credit_History_Age'].unique()

array([ 8309,  8339,     0,  8400,  9953,  9983, 10013, 10044,  6726,
        6757,  6787,  6544,  6574,  6604,  6635, 11444, 11474, 11535,
       11901, 11931, 11961, 11992, 11505,  5570,  5600,  5630,  5661,
        8035,  8065,  8096,  8126,  9892,  9922,  7244,  7274,  7305,
        9557,  9587,  9618, 10074, 10105, 10135,  3500,  3530,  3561,
        3591,  6878,  6909,  6939,  6970,  6391,  6422,  6452,  6483,
       10896, 10927, 10957, 10987,  2587,  2617,  2648, 10166, 10196,
       10227, 10257,  7335,  7365,  3926,  3956,  3987,  4017, 12205,
       12235, 12266, 12296,  4717,  4748,  4778,  4809,  4687,  6818,
        6848,  5235,  5265,  5296,  5326, 11292, 11322, 11353, 11383,
        3409,  3469,  7000,  7091,  7122,  7152,  7183,  3439,  5022,
        5052,  5083,  8157,  9679,  5113,  5143, 10440, 10470, 10500,
       10531,  3135,  3165,  3195,  9100,  9131,  9161,  9192,  6513,
         669,   700,   730,   760,  4230,  4261,  4291,  4322, 11414,
        7396,  7426,  7457,  7487,  4048,  4078,  4109,  4139,  5357,
        5387,  5417,  7792,  7822,  7852,  7883,   365,   395,   426,
         456, 11809, 11840, 11870,  4839,  4870,  4900,  4930, 10287,
        4383,  4413,  4443,  4474,  9253,  9283,  9313,  9344,  6665,
        6696,  4961,  7213, 11596, 11627, 11657, 11688,  2130,  2161,
        2191,  2221,  1308,  1339,  1369,  1400,  6239,  6270,  6300,
        8613,  8644,  8674,  8705,  3287,  3348,  3378, 11566,  1856,
        1887,  1917,  1948, 12175,  4991, 11109, 11140, 11170, 11201,
        9648, 12327,  9800,  9831,  9861,  2952,  2982,  3013,  3043,
       10561, 10592, 10622, 10653,  7518,  7548,  7578,  7609,  7639,
        7670, 10683, 10714, 10744, 10774,  5174,  5204,   791,   821,
       12357, 12388, 12418,  9709,  9740, 10805, 10835,  1978,  2008,
        2039,  2069, 11779,  2343,  2374,  2404,  2435,  8431,  8461,
        8492,  6209,  8552,  8583,  8187,  8218,  7700,  5844,  5874,
        5904,  5935,  7731,  1065,  1095,  1126,  1156,  2100,   852,
        6148,  6178,  8370,  3622,  3652,  3682, 10348, 10379, 10409,
        7031,  9222,  3226,  2282,  2313,  6331,  6361,  4535,  4565,
        4596,  4626,  9770, 10866, 11718, 11748,  7974,  8005,  9070,
        6026,  6057,  6087,  6117,  5509,  5539,  8735,  8766,  9435,
        9466,  9496,  9526,  3256,  7061,  2252,  9374,  9405,  5813,
        3074,  3104,  2739,  2769,  2800,  2830,  5965,  5996,  8796,
        8248,  5691,  5722,  5752,  7913,  7944, 11231,  2891,  2922,
        3804,  3835,  3865,  3896,  3317,  8887,  8918,  8948,  8979,
        1217,  1247,  5478,  3713,  4504,  8857, 10318,  2465,  2495,
         304,  3743,  4656, 11018, 11079, 11048,   334,  4200,  2861,
        3774,  1461, 12022, 12053,  7761, 11261,  8522,  1430,  1491,
        1521,  2526,  2556,  4169,  5783,  4352,  5448,  8279,   547,
         578,   608,   639,  9039,  1826,  2678,  1674,  1704,  1734,
        1765,  2708,   882,   943,   974,   913,  8826, 12083, 12114,
         487,   517,  9009,  1552,  1582,  1004,  1034,  1187,  1613,
        1795, 12144,  1278,  1643], dtype=int64)

In [388]:
df['Payment_of_Min_Amount'].unique()

array(['No', 'Yes', 'NM'], dtype=object)

In [389]:
# importing 'OneHotEncoder' to convert categorical variables as numerical values
from sklearn.preprocessing import OneHotEncoder

# Create a OneHotEncoder
ohe_encoder = OneHotEncoder(sparse=False)

In [390]:
# Apply the OneHotEncoder to the 'Payment_of_Min_Amount' column
one_hot_encoded = ohe_encoder.fit_transform(df[['Payment_of_Min_Amount']])

C:\Users\rahul bhutekar\ds_class\Lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [391]:
# get the names of the new Payment_of_Min_Amount columns
col_names = ohe_encoder.get_feature_names_out(['Payment_of_Min_Amount'])
col_names

array(['Payment_of_Min_Amount_NM', 'Payment_of_Min_Amount_No',
       'Payment_of_Min_Amount_Yes'], dtype=object)

In [392]:
# creating a new DataFrame with the newly generated values
df_encoded = pd.DataFrame(one_hot_encoded, columns=col_names)
df_encoded

,Payment_of_Min_Amount_NM,Payment_of_Min_Amount_No,Payment_of_Min_Amount_Yes
0,0.0,1.0,0.0
1,0.0,1.0,0.0
2,0.0,1.0,0.0
3,0.0,1.0,0.0
4,0.0,1.0,0.0
...,...,...,...
49995,0.0,0.0,1.0
49996,1.0,0.0,0.0
49997,0.0,1.0,0.0
49998,0.0,1.0,0.0
49999,0.0,1.0,0.0

In [393]:
# adding the newly generated values to the original DataFrame and dropping the original OBJECT type field 'Payment_of_Min_Amount' 
df = pd.concat([df, df_encoded], axis=1)
df = df.drop('Payment_of_Min_Amount', axis=1)
df.head()

,Age,Annual_Income,Monthly_Inhand_Salary,Num_Credit_Card,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Total_EMI_per_month,Payment_Behaviour,Monthly_Balance,Payment_of_Min_Amount_NM,Payment_of_Min_Amount_No,Payment_of_Min_Amount_Yes
0,23,19114.12,1824.843333,4,4,3,7,11.27,2022.0,Good,809.98,35.030402,8309,49.574949,Low_spent_Small_value_payments,186.26670208571772,0.0,1.0,0.0
1,24,19114.12,1824.843333,4,4,3,9,13.27,4.0,Good,809.98,33.053114,8339,49.574949,High_spent_Medium_value_payments,361.44400385378196,0.0,1.0,0.0
2,24,19114.12,1824.843333,4,4,-1,4,12.27,4.0,Good,809.98,33.811894,0,49.574949,Low_spent_Medium_value_payments,264.67544623342997,0.0,1.0,0.0
3,24,19114.12,NaN,4,4,4,5,11.27,4.0,Good,809.98,32.430559,8400,49.574949,High_spent_Medium_value_payments,343.82687322383634,0.0,1.0,0.0
4,28,34847.84,3037.986667,4,1,3,1,5.42,5.0,Good,605.03,25.926822,9953,18.816215,High_spent_Large_value_payments,485.2984336755923,0.0,1.0,0.0

In [394]:
df['Total_EMI_per_month'].describe()

count    50000.000000
mean      1491.304305
std       8595.647887
min          0.000000
25%         32.222388
50%         74.733349
75%        176.157491
max      82398.000000
Name: Total_EMI_per_month, dtype: float64

In [395]:
df['Payment_Behaviour'].unique()

array(['Low_spent_Small_value_payments',
       'High_spent_Medium_value_payments',
       'Low_spent_Medium_value_payments',
       'High_spent_Large_value_payments',
       'Low_spent_Large_value_payments', '!@9#%8',
       'High_spent_Small_value_payments'], dtype=object)

In [396]:
df['Payment_Behaviour'] = df['Payment_Behaviour'].apply(lambda x: 'Low_spent_Medium_value_payments' if x == '!@9#%8' else x )

In [397]:
# Apply the OneHotEncoder to the 'Payment_Behaviour' column
encoded_Payment_Behaviour = ohe_encoder.fit_transform(df[['Payment_Behaviour']])

# get the names of the new Payment_of_Min_Amount columns
col_names_Payment_Behaviour = ohe_encoder.get_feature_names_out(['Payment_Behaviour'])

# creating a new DataFrame with the newly generated values
df_encoded_Payment_Behaviour = pd.DataFrame(encoded_Payment_Behaviour, columns=col_names_Payment_Behaviour)

# concatenate the newly generated values 'df_encoded_Payment_Behaviour' to the original DataFrame and dropping the original OBJECT type field 'Payment_Behaviour' 
df = pd.concat([df, df_encoded_Payment_Behaviour], axis=1)
df = df.drop('Payment_Behaviour', axis=1)

C:\Users\rahul bhutekar\ds_class\Lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [398]:
df.head()

,Age,Annual_Income,Monthly_Inhand_Salary,Num_Credit_Card,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Credit_Mix,...,Monthly_Balance,Payment_of_Min_Amount_NM,Payment_of_Min_Amount_No,Payment_of_Min_Amount_Yes,Payment_Behaviour_High_spent_Large_value_payments,Payment_Behaviour_High_spent_Medium_value_payments,Payment_Behaviour_High_spent_Small_value_payments,Payment_Behaviour_Low_spent_Large_value_payments,Payment_Behaviour_Low_spent_Medium_value_payments,Payment_Behaviour_Low_spent_Small_value_payments
0,23,19114.12,1824.843333,4,4,3,7,11.27,2022.0,Good,...,186.26670208571772,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,24,19114.12,1824.843333,4,4,3,9,13.27,4.0,Good,...,361.44400385378196,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,24,19114.12,1824.843333,4,4,-1,4,12.27,4.0,Good,...,264.67544623342997,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,24,19114.12,NaN,4,4,4,5,11.27,4.0,Good,...,343.82687322383634,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,28,34847.84,3037.986667,4,1,3,1,5.42,5.0,Good,...,485.2984336755923,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [399]:
df['Monthly_Balance'].describe()

count                                49438
unique                               49433
top       __-333333333333333333333333333__
freq                                     6
Name: Monthly_Balance, dtype: object

In [400]:
df['Monthly_Balance'] = df['Monthly_Balance'].apply(remove_Underscore)

In [401]:
df['Monthly_Balance'].describe()

count    4.943800e+04
mean    -4.045471e+22
std      3.671994e+24
min     -3.333333e+26
25%      2.704741e+02
50%      3.369732e+02
75%      4.708568e+02
max      1.606518e+03
Name: Monthly_Balance, dtype: float64

In [402]:
# converting negative values to positive
df['Monthly_Balance'] = df['Monthly_Balance'].apply( lambda x: -x if x < 0 else x)

In [403]:
df['Monthly_Balance'].describe()

count    4.943800e+04
mean     4.045471e+22
std      3.671994e+24
min      1.034022e-01
25%      2.705032e+02
50%      3.370127e+02
75%      4.709267e+02
max      3.333333e+26
Name: Monthly_Balance, dtype: float64

In [404]:
df['Credit_Mix'].unique()

array(['Good', '_', 'Standard', 'Bad'], dtype=object)

In [405]:
# preprocessing provides collection of functions and classes for preprocessing and transforming data before it is used in machine learning models
from sklearn import preprocessing

# use label encoder to convert 'Credit_Mix' into numbers as this will be our TARGET column
label_encoder = preprocessing.LabelEncoder()
df['Credit_Mix'] = label_encoder.fit_transform(df['Credit_Mix'])
df['Credit_Mix'].value_counts()

Credit_Mix
2    18379
1    12260
3     9805
0     9556
Name: count, dtype: int64

In [406]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 24 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   Age                                                 50000 non-null  int64
 1   Annual_Income                                       50000 non-null  float64
 2   Monthly_Inhand_Salary                               42502 non-null  float64
 3   Num_Credit_Card                                     50000 non-null  int64
 4   Num_of_Loan                                         50000 non-null  int64
 5   Delay_from_due_date                                 50000 non-null  int64
 6   Num_of_Delayed_Payment                              50000 non-null  int64
 7   Changed_Credit_Limit                                50000 non-null  float64
 8   Num_Credit_Inquiries                                48965 non-null  float64
 9   Credit_Mix                                          50000 non-null  int32
 10  Outstanding_Debt                                    50000 non-null  float64
 11  Credit_Utilization_Ratio                            50000 non-null  float64
 12  Credit_History_Age                                  50000 non-null  int64
 13  Total_EMI_per_month                                 50000 non-null  float64
 14  Monthly_Balance                                     49438 non-null  float64
 15  Payment_of_Min_Amount_NM                            50000 non-null  float64
 16  Payment_of_Min_Amount_No                            50000 non-null  float64
 17  Payment_of_Min_Amount_Yes                           50000 non-null  float64
 18  Payment_Behaviour_High_spent_Large_value_payments   50000 non-null  float64
 19  Payment_Behaviour_High_spent_Medium_value_payments  50000 non-null  float64
 20  Payment_Behaviour_High_spent_Small_value_payments   50000 non-null  float64
 21  Payment_Behaviour_Low_spent_Large_value_payments    50000 non-null  float64
 22  Payment_Behaviour_Low_spent_Medium_value_payments   50000 non-null  float64
 23  Payment_Behaviour_Low_spent_Small_value_payments    50000 non-null  float64
dtypes: float64(17), int32(1), int64(6)
memory usage: 9.0 MB

In [407]:
df.isnull().sum()

Age                                                      0
Annual_Income                                            0
Monthly_Inhand_Salary                                 7498
Num_Credit_Card                                          0
Num_of_Loan                                              0
Delay_from_due_date                                      0
Num_of_Delayed_Payment                                   0
Changed_Credit_Limit                                     0
Num_Credit_Inquiries                                  1035
Credit_Mix                                               0
Outstanding_Debt                                         0
Credit_Utilization_Ratio                                 0
Credit_History_Age                                       0
Total_EMI_per_month                                      0
Monthly_Balance                                        562
Payment_of_Min_Amount_NM                                 0
Payment_of_Min_Amount_No                                 0
Payment_of_Min_Amount_Yes                                0
Payment_Behaviour_High_spent_Large_value_payments        0
Payment_Behaviour_High_spent_Medium_value_payments       0
Payment_Behaviour_High_spent_Small_value_payments        0
Payment_Behaviour_Low_spent_Large_value_payments         0
Payment_Behaviour_Low_spent_Medium_value_payments        0
Payment_Behaviour_Low_spent_Small_value_payments         0
dtype: int64

In [408]:
# calculating the MEAN value for the columns containing NULL values
mean_Monthly_Inhand_Salary = df['Monthly_Inhand_Salary'].mean()
mean_Num_Credit_Inquiries = df['Num_Credit_Inquiries'].mean()
mean_Monthly_Balance = df['Monthly_Balance'].mean()

mean_Monthly_Inhand_Salary, mean_Num_Credit_Inquiries, mean_Monthly_Balance

(4182.0042912035815, 30.080200142959256, 4.045471095109025e+22)

In [409]:
# replacing the NULL values with the MEAN value
df['Monthly_Inhand_Salary'] = df['Monthly_Inhand_Salary'].fillna(mean_Monthly_Inhand_Salary)
df['Num_Credit_Inquiries'] = df['Num_Credit_Inquiries'].fillna(mean_Num_Credit_Inquiries)
df['Monthly_Balance'] = df['Monthly_Balance'].fillna(mean_Monthly_Balance)

In [410]:
df.isnull().sum()

Age                                                   0
Annual_Income                                         0
Monthly_Inhand_Salary                                 0
Num_Credit_Card                                       0
Num_of_Loan                                           0
Delay_from_due_date                                   0
Num_of_Delayed_Payment                                0
Changed_Credit_Limit                                  0
Num_Credit_Inquiries                                  0
Credit_Mix                                            0
Outstanding_Debt                                      0
Credit_Utilization_Ratio                              0
Credit_History_Age                                    0
Total_EMI_per_month                                   0
Monthly_Balance                                       0
Payment_of_Min_Amount_NM                              0
Payment_of_Min_Amount_No                              0
Payment_of_Min_Amount_Yes                             0
Payment_Behaviour_High_spent_Large_value_payments     0
Payment_Behaviour_High_spent_Medium_value_payments    0
Payment_Behaviour_High_spent_Small_value_payments     0
Payment_Behaviour_Low_spent_Large_value_payments      0
Payment_Behaviour_Low_spent_Medium_value_payments     0
Payment_Behaviour_Low_spent_Small_value_payments      0
dtype: int64

In [411]:
# to check if there are any duplicate rows present
df[df.duplicated()].shape

(0, 24)

## Random Forest

In [429]:
# independent variables in X
X = df.drop('Credit_Mix', axis = 1)
X

,Age,Annual_Income,Monthly_Inhand_Salary,Num_Credit_Card,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Outstanding_Debt,...,Monthly_Balance,Payment_of_Min_Amount_NM,Payment_of_Min_Amount_No,Payment_of_Min_Amount_Yes,Payment_Behaviour_High_spent_Large_value_payments,Payment_Behaviour_High_spent_Medium_value_payments,Payment_Behaviour_High_spent_Small_value_payments,Payment_Behaviour_Low_spent_Large_value_payments,Payment_Behaviour_Low_spent_Medium_value_payments,Payment_Behaviour_Low_spent_Small_value_payments
0,23,19114.12,1824.843333,4,4,3,7,11.27,2022.0,809.98,...,186.266702,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,24,19114.12,1824.843333,4,4,3,9,13.27,4.0,809.98,...,361.444004,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,24,19114.12,1824.843333,4,4,1,4,12.27,4.0,809.98,...,264.675446,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,24,19114.12,4182.004291,4,4,4,5,11.27,4.0,809.98,...,343.826873,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,28,34847.84,3037.986667,4,1,3,1,5.42,5.0,605.03,...,485.298434,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,33,20002.88,1929.906667,8,5,33,25,18.31,12.0,3571.70,...,275.539570,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
49996,25,39628.99,4182.004291,6,2,20,30,11.50,7.0,502.38,...,409.394562,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
49997,25,39628.99,3359.415833,6,2,23,5,13.50,7.0,502.38,...,349.726332,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
49998,25,39628.99,4182.004291,6,2,21,6,11.50,7.0,502.38,...,463.238981,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
49999,25,39628.99,3359.415833,6,2,22,5,11.50,7.0,502.38,...,360.379683,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [430]:
# target varibale in y
y = df['Credit_Mix']
y.head(10)

0    1
1    1
2    1
3    1
4    1
5    1
6    3
7    3
8    1
9    1
Name: Credit_Mix, dtype: int32

In [431]:
# Splitting the dataset into train and test
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3)

In [432]:
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((35000, 23), (15000, 23), (35000,), (15000,))

In [433]:
# importing 'RandomForestClassifier' classifier
from sklearn.ensemble import RandomForestClassifier

# create a Random Forest classifier model
model = RandomForestClassifier(n_estimators = 100, random_state = 42)
model_entropy = RandomForestClassifier(n_estimators = 100, random_state = 42, criterion='entropy')

In [434]:
# train the GINI classifier on the training data
model.fit(X_train, y_train)

RandomForestClassifier(random_state=42)

In [435]:
# train the ENTROPY classifier on the training data
model_entropy.fit(X_train, y_train)

RandomForestClassifier(criterion='entropy', random_state=42)

In [436]:
# make predictions on the test data with GINI model
y_pred = model.predict(X_test)

In [437]:
# make predictions on the test data with ENTROPY model
y_pred_entropy = model_entropy.predict(X_test)

In [438]:
from sklearn.metrics import accuracy_score, classification_report

# evaluating the model
accuracy = accuracy_score(y_test, y_pred)
classification_report_str = classification_report(y_test, y_pred)

accuracy_entropy = accuracy_score(y_test, y_pred)
classification_report_str_entropy = classification_report(y_test, y_pred)

In [439]:
print("Gini Accuracy:", accuracy)
print("Gini Classification Report:\n", classification_report_str)

Gini Accuracy: 0.7422666666666666
Gini Classification Report:
               precision    recall  f1-score   support

           0       0.78      0.95      0.86      2840
           1       0.75      0.90      0.82      3678
           2       0.75      0.91      0.82      5520
           3       0.21      0.02      0.04      2962

    accuracy                           0.74     15000
   macro avg       0.62      0.70      0.63     15000
weighted avg       0.65      0.74      0.67     15000

In [440]:
print("Entropy Accuracy:", accuracy_entropy)
print("Entropy Classification Report:\n", classification_report_str_entropy)

Entropy Accuracy: 0.7422666666666666
Entropy Classification Report:
               precision    recall  f1-score   support

           0       0.78      0.95      0.86      2840
           1       0.75      0.90      0.82      3678
           2       0.75      0.91      0.82      5520
           3       0.21      0.02      0.04      2962

    accuracy                           0.74     15000
   macro avg       0.62      0.70      0.63     15000
weighted avg       0.65      0.74      0.67     15000